@import "nullstyle.css";
@import "slider.css";

/* all doc styles */

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background-image: url('/assets/bg.png');
    background-position: center;
    background-size: cover;
}

.container {
    background: #FFFFFF;
    min-width: 320px;
    max-width: 430px;
    margin: 0 auto;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 20px;
    margin-top: 20px;
}

h1 {
    font-family: 'Bebas Neue';
    font-size: 32px;
    line-height: 38px;
    color: #231F20;
    margin: 4px 0;
}

h2 {
    font-size: 20px;
    line-height: 24px;
}

p {
    font-size: 16px;
    line-height: 18px;
}

.btn {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #FF1430;
    border-radius: 30px;
    padding: 14px;
    width: available;
    width: -moz-available;
}

.bordered {
    padding: 20px;
    margin: 10px 0;
    border-radius: 30px;
    overflow: hidden;
}

.shadow {
    margin: 20px -20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.links_box {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.pop-up {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 3;
    max-width: 430px;
}

.pop-up_close {
    background: transparent;
    position: absolute;
    top: 25px;
    right: 25px;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    height: 86px;
    position: relative;
    z-index: 2;
}

.header_open_menu {
    background: transparent;
}

/* menu */

.menu_box {
    width: 100%;
    height: 100vh;
    gap: 45px;
    margin: 0;
}

.menu_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.menu_list_item {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    padding: 15px;
    width: 100%;
}

.menu_actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* first screen */

section:first-of-type {
    height: calc(100vh - 86px);
    margin-top: 0;
    justify-content: space-evenly;
}

section:first-of-type .shadow {
    box-shadow: 0 20px 20px -4px rgba(0, 0, 0, 0.25);
    margin: 0 -20px 20px;
}

#title {
    width: 300px;
    position: absolute;
    top: 28px;
    left: 16px;
}

/* video box */

#video {
    width: 100%;
    height: calc(100vw - 40px);
    max-height: 390px;
    margin: 0 0 20px 0;
    background: #9B9A9A;
}

/* slider box - photos */

.photo {
    width: 100%;
    display: none;
}

input[type=radio]:checked + .photo {
    display: flex;
}

#photo-1:checked ~ .slider_controls #ph1,
#photo-2:checked ~ .slider_controls #ph2,
#photo-3:checked ~ .slider_controls #ph3,
#photo-4:checked ~ .slider_controls #ph4,
#photo-5:checked ~ .slider_controls #ph5 {
    border: 2px solid #FF1430;
    background: #FF1430;
}

/* list's section */

.list {
    margin-top: 20px;
    padding-right: 20px;
}

.list p {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.list p::before {
    content: url("/assets/icons/tick.svg");
    margin-right: 12px;
}

/* levels */

.level_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.level_box ul {
    margin: 0 20px 10px;
}

.level_box ul li {
    margin-bottom: 4px;
}

.level_icon {
    background-color: #FFFFFF;
    border-radius: 100%;
}

/* info cards */

.cards_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.card_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.card_box img {
    margin: 10px 0 20px;
}

.card_box p {
    text-align: center;
}

/* crutch to fix image size */

#dance {
    max-width: 110%;
    width: 110%;
    margin: -4px;
}

/* photo examples */

.examples_box {
    display: flex;
    margin: 0 -20px;
}

/* feedback slider */

.feedback_item {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.feedback_header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.feedback_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
}

input[type=radio]:checked + .feedback_item {
    display: flex;
}

#feedback-1:checked ~ .slider_controls #f1,
#feedback-2:checked ~ .slider_controls #f2,
#feedback-3:checked ~ .slider_controls #f3 {
    border: 2px solid #FF1430;
    background: #FF1430;
}

/* f.a.q. section */

.faq_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.faq_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.faq_icon {
    margin-left: 5px;
}

.faq_body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px 40px 40px;
    margin-top: 25px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
    background-color: #FF1430;
    border-radius: 30px 30px 0 0;
}

/* extra styles */

.accent {
    color: #FF1430;
}

.bold {
    font-weight: 700;
}

.bg_pink {
    background: #FFF0F1;
}

.bg_gray {
    background: #E7E7E7;
}

.full-size {
    width: 100%;
}

.cover {
    padding: 0;
}

.hidden {
    display: none;
}
