.blur {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    background-color: #5d5d5d80;
    z-index: 1;
}

.exit_intent {
    align-items: center;
    padding-top: 70px;
    width: 85%;
    max-width: 390px;
}

.exit_intent h2 {
    text-align: center;
}
